@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
}

@layer components {
  .container {
    @apply mx-auto px-2 md:px-4 lg:px-6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-gradient {
    background-image: linear-gradient(
      to bottom right,
      var(--bg-main-l),
      var(--bg-main-r)
    );
  }
}

@layer base {
  :root {
    --bg-main-l: #74c8fcd8;
    --bg-main-r: #8fb7f9e6;

    --background: #8cc7fc;
    --foreground: var(--primary);

    --primary: #352107;
    --primary-foreground: #fcf9e0;

    --secondary: #fef08a;
    --secondary-foreground: #423e24e4;

    --muted: #c4c4b0;
    --muted-foreground: #6b6b61;

    --accent: #757154;
    /* --accent-foreground: 222.2 47.4% 11.2%; */

    --destructive: #d63d3d;
    --destructive-foreground: var(--primary-foreground);

    --card: var(--secondary);
    --card-foreground: var(--secondary-foreground);

    --popover: var(--primary-foreground);
    --popover-foreground: var(--primary);

    --border: var(--secondary);
    --input: var(--secondary);
    --ring: #4e4221;

    --success: #059669;
    --radius: 0.5rem;

    --custom-toast: #f9fafbf5;
  }

  .dark {
    --bg-main-l: #5fa3cdd8;
    --bg-main-r: #6c8abce6;

    --background: #020817;
    --foreground: var(--primary);

    --primary: #fcf9e0c9;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    --secondary-foreground: var(--primary);

    --muted: #46608b;
    --muted-foreground: #94a3b8;

    --accent: #9c9eb4;
    --accent-foreground: #f8fafc;

    --card: var(--secondary);
    --card-foreground: var(--secondary-foreground);

    --popover: rgb(2, 8, 23);
    --popover-foreground: var(--primary);

    --destructive: #a42e2e;
    --destructive-foreground: var(--primary);

    --border: var(--secondary);
    --input: var(--secondary);
    --ring: #cbd5e1;

    --success: #059669;

    --custom-toast: #1e293bf1;
  }
}
