@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
}

@layer components {
  .container {
    @apply mx-auto px-2 md:px-4 lg:px-6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --bg-main-l: #06b5d4c9;
    --bg-main-r: #3b83f6d0;

    --background: #71c6ff;
    /* --foreground: #342c09; */
    /* --foreground: #fcf9e0; */

    --primary: #342c09;
    /* --primary: #ffd930; */
    /* --primary-foreground: #0026cf; */
    --primary-foreground: #fcf9e0;

    --secondary: #fef08a;
    --secondary-foreground: #423e24;

    --muted: #c4c4b0;
    /* --muted: #57534e; */
    --muted-foreground: #6b6b61;

    --accent: #fbfaee;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: rgb(214, 61, 61);
    --destructive-foreground: 210 40% 98%;

    --card: var(--primary-foreground);
    --card-foreground: var(--primary);

    --popover: var(--primary-foreground);
    --popover-foreground: var(--primary);

    --border: #fff6ac;
    --input: var(--background);
    --ring: #4e4221;

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }
}
